version: '3'

services:

  app:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "1337:1337"
    env_file: .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: alex
      POSTGRES_PASSWORD: alex
      POSTGRES_DB: newdatabase
    ports:
      - '5432:5432'

  redis:
    image: redis:latest
    ports:
      - '6379:6379'

